body {
    font-family: 'Roboto', sans-serif;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin: 0;
    padding: 12px;
}

.logo {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-shrink: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.navbar a {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    flex-shrink: 0;
    margin: 0;
    padding: 12px;
    gap: 16px;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 350px;
    padding: 12px;
}

.hero-text h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
    padding: 0;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.signup-btn {
    display: flex;
    color: #f9faf8;
    background-color: #3882f6;
    margin: 4px;
    padding: 8px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 250px;
    width: 450px;
}

.info {
    text-align: center;
    margin: 0;
    padding: 12px;
}

.info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-card {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card {
    height: auto;
    width: 150px;
}

.card-image {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 12px;
}

.card p {
    font-size: 18px;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    margin: 0;
    padding: 120px;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    text-align: end;
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
}

.cta {
    margin: 0;
    padding: 80px 120px;
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 20px 40px;
    border-radius: 12px;
}

.cta-btn {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 24px;
    padding: 12px;
    border: 2px solid #f9faf8;
    border-radius: 12px;
}

footer {
    color: #e5e7eb;
    background-color: #1f2937;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 24px;
}